.chatbox {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  height: calc(100vh - 120px); /* Daha yüksek bir değer */
}

.chatbox-title {
  background-color: #e6e6e6;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  margin: 0 0 10px; 
}

.chatbox-messages {
  max-height: calc(100vh - 180px); /* Çok daha yüksek */
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-right: 4px; 
}

.chat-message {
  background-color: #fef6d8;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 6px; 
}


.chat-A { background-color: #d6f8d6; }
.chat-B { background-color: #fbdcdc; }
.chat-C { background-color: #d6eaff; }
.chat-D { background-color: #e5d6f8; }
.chat-E { background-color: #d6f8f2; }

.chat-problem {
  background-color: #f0f8ff;
  border-left: 4px solid #007bff;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: 500;
}
